<ion-header class="t-header">
  <ion-toolbar>
    <div class="app-container d-table w-100 h-100">
      <div class="brand-logo d-table-cell align-middle pl-3">
        <img src="assets/Images/logo.png" alt="ST Logo" class="logo-img" />
      </div>
      <div class="head-icons d-table-cell align-middle">
        <div class="app-increment">
          <a (click)="vwSearch()"><ion-icon name="search-outline" style='margin-right:15px'></ion-icon></a>
          <a (click)="ViewCart()"><ion-icon name="cart-outline"></ion-icon></a>                             
        </div>
      </div>
    </div>
  </ion-toolbar>
</ion-header>
<ng-container class="offerbg">  
 <ion-content>  
  <ion-refresher slot="fixed" (ionRefresh)="loadData($event)" pullMin="80" pullMax="100">
    <ion-refresher-content 
      pullingIcon="arrow-down-outline" 
      pullingText="Pull to refresh" 
      refreshingSpinner="crescent"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
<ion-item>
  <ion-label *ngIf="LocationSelected"> <small>Delivering to <b>{{LocInfo.Name}}</b></small></ion-label>
  <ion-label *ngIf="!LocationSelected"> Select Delivery Location</ion-label>
  <ion-button expand="full" color="danger" (click)="changeLoc()"> Change</ion-button>
</ion-item>
<div class="offerhome" >
<ion-slides autoplay="3000" [options]="{pagination: true}">
  <ion-slide>
     <ion-row>
            <ion-col *ngFor=" let item of offers | slice:0:3; let i=index " col-3 style="padding: 3px;">
                <ion-card style="margin: 0px 0px 0px 0px;    width: calc(100%);" (click)="onOfferClick(item)">
                    <img src="{{basePath}}{{item.Image}}"  />
                </ion-card>
            </ion-col>
        </ion-row>
  </ion-slide>
  <ion-slide>
     <ion-row>
            <ion-col *ngFor=" let item of offers| slice:3:6; let i=index " col-3 style="padding: 3px;">
                <ion-card style="margin: 0px 0px 0px 0px;    width: calc(100%);" (click)="onOfferClick(item)">
                  <img src="{{basePath}}{{item.Image}}"  />
                </ion-card>
            </ion-col>
        </ion-row>
  </ion-slide>
  <ion-slide>
     <ion-row>
            <ion-col *ngFor=" let item of offers| slice:6:9; let i=index " col-3 style="padding: 3px;">
                <ion-card style="margin: 0px 0px 0px 0px;    width: calc(100%);" (click)="onOfferClick(item)">
                  <img src="{{basePath}}{{item.Image}}"  />
                </ion-card>
            </ion-col>
        </ion-row>
  </ion-slide>
</ion-slides>
</div>
<ion-item *ngIf ="LocationSelected">
  <ion-icon color="danger" name="search-circle-outline" slot="start"></ion-icon>
  <ion-input placeholder="Search Shop \ keep blank to show all" [(ngModel)]="userFilter.Name"></ion-input>
  <!-- <ion-button slot="end" color="danger" (click)="onSearch()"><ion-icon name="search-outline"></ion-icon>Search</ion-button> -->
</ion-item>
<div class="app-container p-1 bg-container"> 
<div
            class="p-2 m-1 flex-fill busroute-item"
            *ngFor="let item of shops | orderBy:'Order' | filterBy:userFilter"
          >
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tbody>
                <tr (click)="onShopClick(item)">
                  <td valign="middle" class="b-no">
                    <!-- <ion-thumbnail> -->
                    <img src="{{basePath}}{{item.Image}}" class="thumbnailImg"/>
                  <!-- </ion-thumbnail> -->
                  <div>
                  <span style="color:red;" *ngIf="item.StartTime > CurrentTime || item.EndTime < CurrentTime">Closed</span>
                  <span style="color:green;" *ngIf="item.StartTime < CurrentTime && item.EndTime > CurrentTime">Open Now</span>
                </div>
                  </td>
                  <td valign="middle" class="b-devider">
                    <img src="assets/Images/devider.png" alt="" />
                  </td>
                  <td valign="middle" class="b-label">
                    <div>
                      <b>{{ item.Name }}</b>
                    </div>
                    <div class="">
                      {{ item.TagLine }} <br>
                        Min Order : {{item.AverageCost}} RS
                    </div>
                  </td>
                  <td valign="middle" class="b-arrow">
                    <ion-icon src="assets/Images/arrow-forward.svg"></ion-icon>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
</div>
<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
  <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>
</ng-container>
