<ion-header class="t-header">
  <ion-toolbar>
    <div class="app-container d-table w-100 h-100">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
        <span class="app-headerLabel">Shop Details</span>
      </ion-buttons>
      <!-- <div>Shop Details</div> -->
      <div class="head-icons d-table-cell align-middle">
        <!-- <ion-title size="small">Restaurant</ion-title> -->
        <!-- <span>Shop Details</span> -->
        <div class="app-increment">
          <ion-icon name="notifications-outline" style='margin-right:15px'></ion-icon>
          <ion-icon name="cart-outline" (click)="ViewCart()"></ion-icon>            
        </div>
      </div>
    </div>
  </ion-toolbar>
</ion-header>
<ng-container class="offerbg">  
<ion-content>
<div class="app-container p-1 bg-container">
  <ion-card>
    <div class="row">
      <div class="col">
          <img class="w-100" style="border-radius:10px;" src="{{basePath}}{{getShop?.Image}}">
          <span style="color:red;" *ngIf="getShop?.StartTime > CurrentTime || getShop?.EndTime < CurrentTime"><b>Closed</b></span>
          <span style="color:green;" *ngIf="getShop?.StartTime < CurrentTime && getShop?.EndTime > CurrentTime"><b>Open Now</b></span>
          <p class="mar-l1 mar-r1">Location : {{getShop?.Address}}</p>
      </div>
      <div class="col">
          <h4>{{getShop?.Name}}</h4>
          <p><b>{{getShop?.TagLine}}</b></p>
          <button class="ratbutton"><ion-icon name="star"></ion-icon>{{getShop?.AverageRating}} / 5</button>
          <!-- <button class="ratbutton"> <ion-icon ios="ios-star" md="md-star"></ion-icon> {{getShop?.AverageRating}} / 5</button> -->
          <p>{{getShop?.ShopCategory.Name}}</p>
      </div>
  </div>
        <div class="pad-2 center-text">
          <font size="1" >
            <table class="table">
                <tbody>
                    <tr>
                        <td>Minimum Order Cost</td>
                        <td>Delivery Charges</td>
                        <td>Opening Hours</td>
                        <td>Delivery Time</td>
                    </tr>
                    <tr>
                        <td>{{getShop?.AverageCost}}</td>
                        <td>{{getShop?.DeliveryCharge}}</td>
                        <td>{{getShop?.OpeningHours}}</td>
                        <td>{{getShop?.DeliveryTime}}</td>
                    </tr>
                </tbody>
            </table>
          </font>
        </div>
    </ion-card>
    <ion-item>
      <ion-input placeholder="Search here \ keep blank to show all" [(ngModel)]="userFilter.Name"></ion-input>
      <!-- <ion-button slot="end" color="danger" (click)="onSearch()"><ion-icon name="search-outline"></ion-icon>Search</ion-button> -->
    </ion-item>
  <ng-container>   
        <ion-item-group *ngFor="let Cat of allItems | orderBy:['Priority']">
          <ion-item-divider>
            <ion-label><b>{{Cat?.Name}}</b></ion-label>
          </ion-item-divider>
            <div
              class="p-2 m-1 flex-fill busroute-item"
              *ngFor="let item of Cat.Items | filterBy:userFilter"
            >
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                  <tr >
                    <td valign="middle" class="b-no">
                      <!-- <ion-thumbnail> -->
                      <img src="{{basePath}}{{item.Image}}" class="thumbnailImg"/>
                      <!-- <img src="{{basePath}}{{item.Image}}"/> -->
                    <!-- </ion-thumbnail> -->
                    <div *ngIf="item.InActive" class="text-over-img">
                    <span *ngIf="item.InActive">Not Available</span>
                   </div>
                    </td>
                    <td valign="middle" class="b-devider">
                      <img src="assets/Images/devider.png" alt="" />
                    </td>
                    <td valign="middle" class="b-label">
                      <div>
                        <b>{{ item.Name }}</b>
                      </div>
                      <div class="">
                        RS {{item.Price}} /-
                      </div>
                    </td>
                    <td valign="middle" class="b-arrow"  (click)="onAddClick(item)">
                      <div class="app-increment">
                            <ion-icon name="add-circle"></ion-icon>
                        </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>            
        </ion-item-group>
          </ng-container> 
  </div>
  </ion-content>
  </ng-container>