<ion-header class="t-header">
  <ion-toolbar>
    <div class="app-container d-table w-100 h-100">
      <ion-buttons slot="start1" *ngIf="ordersToCheckout.length > 0">
        <ion-back-button defaultHref="/tabs/tab1/food-items" ></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="start1" *ngIf="ordersToCheckout.length <= 0">
        <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
      </ion-buttons>
      <!-- <ion-title>MY Cart</ion-title> -->
      <div class="head-icons d-table-cell align-middle">
        <div class="app-increment">
          <ion-icon name="notifications-outline" style='margin-right:15px'></ion-icon>
          <ion-icon name="cart-outline" (click)="ViewCart()"></ion-icon>            
        </div>
      </div>
    </div>
  </ion-toolbar>
</ion-header>
<ng-container class="offerbg">  
  <ion-content>
  <div class="app-container p-1 bg-container">
        <ng-container *ngIf="ordersToCheckout.length > 0">
              <div
                class="p-2 m-1 flex-fill busroute-item"
                *ngFor="let item of ordersToCheckout"
              >
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tbody>
                    <tr >
                      <td valign="middle" class="b-no">
                        <!-- <ion-thumbnail> -->
                        <img src="{{basePath}}{{item.Image}}" class="thumbnailImg"/>
                        <!-- <img src="{{basePath}}{{item.Image}}"/> -->
                      <!-- </ion-thumbnail> -->
                      <div class="app-remove" (click)="removeCart(item)">
                        <ion-icon name="close-circle-outline"></ion-icon>
                    </div>
                      </td>
                      <td valign="middle" class="b-devider">
                        <img src="assets/Images/devider.png" alt="" />
                      </td>
                      <td valign="middle" class="b-label">
                        <div>
                          <b>{{ item.Name }}</b>
                        </div>
                        <div class="">
                          Price : {{item.Price}} Rs
                        </div>
                        <div class="">
                          Discount : {{item.DiscountPrice}} Rs
                        </div>
                        <div class="">
                          Qty : {{item.Quantity}}
                        </div>
                        <div>
                          Total : {{(item.DiscountPrice * item.Quantity)}}   RS
                        </div>
                      </td>
                      <td valign="middle" class="b-arrow">
                        <div class="app-increment" (click)="incrQty(item)">
                            <ion-icon name="add-circle"></ion-icon>
                        </div>
                        <div class="app-qty">
                              {{item.Quantity}}
                          </div>
                          
                          <div class="app-dicrement" (click)="dcrQty(item)">
                            <ion-icon name="remove-circle-outline"></ion-icon>
                          </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              
          <div>
            <div class="center-text" *ngIf=" AbvAverage >= 0">
                <p>From {{ordersToCheckout[0].Shop}} </p>
                <p>Order Total : {{SubTotal}} Rs. </p>
                <p>Delivery Charge : {{TotalDeliveryCharge}} Rs.</p>
                <p>Amount To Be Paid : {{Total}} Rs.</p>
            </div>

            <div *ngIf="AbvAverage >=  0" >
              <ion-button expand="full" color="danger" (click)="viewFromCart()">Proceed To Check Out {{Total}} RS</ion-button>
            </div>

            <div *ngIf="AbvAverage < 0" >
              <h4 style="color:red;">Sub total less than minimum order cost. Please add more items.</h4>
              <p>Sub total : {{SubTotal}} Rs.</p>
              <p>Minimum order cost for {{Shop?.Name}} : {{Shop?.AverageCost}} Rs.</p>
              <br />
              <ion-button expand="full" color="danger" (click)="continueShop()">Continue Shopping</ion-button>
          </div>
        </div>           
            </ng-container> 
            <div class="mar-t15 center-text" *ngIf="ordersToCheckout.length <= 0">
              <img src="assets/Images/cart.png" class="w-30">
              <br>
              <br>
              <p>Oops Cart Empty</p>
          </div>  
    </div>
    </ion-content>
    </ng-container>